@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TemplatePage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fonts/all.css" />

    <style>
        .font-calibri-size-6 {
            font-family: Calibri !important;
            font-size: 12px !important;
        }
        .border-purple {
            border: 1px solid #434da0 !important;
        }

        .border-right-black {
            border-right-color: black !important;
        }

        .border-top-black {
            border-top-color: black !important;
        }

        .border-left-black {
            border-left-color: black !important;
        }

        .border-bottom-black {
            border-bottom: 1px solid black !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <p class="text-center">WINNING FORMULA REPORT</p>
        <div class="container p-4 border-purple">
            <p class="text-center">This confidential financial analysis has been prepared for:</p>
            <p class="text-center">[First Name] [Last Name]</p>
            <p class="text-center">and has been emailed to:</p>
            <p class="text-center">[email.address@domain.com]</p>
            <p class="text-center">Company: [Name of Company]<br />Location: [Location]</p>
            <p class="text-center">Date: [Processing Date]<br />Report ID: [System Generated Report ID]</p>
            <p class="text-center">© Confidential. All Rights Reserved. </p>
            <p class="text-center">DISCLAIMER</p>
            <p class="text-left text-justify">
                Zucora Inc. has prepared these projections based on certain factors provided, assumptions and information available from public sources that has not been independently verified. These
                projections are provided only for illustrative purposes, to assist with understanding, evaluating and assessing the Company’s programs and potential results. These projections, results and
                financial analysis are not guarantees of any current or future performance and no reliance should not be placed on them. These projections involve known and unknown risks with
                uncertainties and any actual results are likely to vary significantly.
            </p>
        </div>
        <div class='container-fluid'>
            <h5 class='text-center py-3'>WINNING FORMULA REPORT</h5>
            <div class='container border-purple'>
                <h5 class='text-center pt-3'><b>FACTORS</b></h5>
                <h5 class='text-center pb-4'>These factors were used in determining the financial results of this Success Projection Report.</h5>

                <div class='px-4'>
                    <table class='table table-sm table-bordered'>
                        <thead>
                            <tr>
                                <th colspan='2' class='border-left-black border-top-black text-left border-bottom-black'><i>Entered Factors:</i></th>
                                <th class='border-top-black border-bottom-black'></th>
                                <th class='border-top-black text-right border-bottom-black'><i>Results</i></th>
                                <th class='border-top-black border-bottom-black'></th>
                                <th class='border-top-black border-right-black border-bottom-black'></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan='2' class='border-left-black text-left'>Annual Sales Volume</td>
                                <td class='text-left'>Mark</td>
                                <td class='text-left'>Otto</td>
                                <td class='text-left'></td>
                                <td class='text-left'></td>
                            </tr>
                            <tr>
                                <td colspan='2' class='border-left-black text-left'>Percentage of Revenue in Plan Sales</td>
                                <td class='border-top-black text-left'>Mark</td>
                                <td class='border-top-black text-left'>Otto</td>
                                <td class='border-top-black text-left'>kk</td>
                                <td class='border-top-black text-left'>kk</td>
                            </tr>
                            <tr>
                                <td colspan='2' class='border-left-black text-left'>Sales Associate Commission</td>
                                <td class='border-top-black text-left'>Mark</td>
                                <td class='border-top-black text-left'>Otto</td>
                                <td class='border-top-black text-left'>kk</td>
                                <td class='border-top-black text-left'>kk</td>
                            </tr>
                            <tr>
                                <td colspan='2' class='border-left-black text-left'>SLP Potential Enrolments</td>
                                <td class='border-top-black text-left'>Mark</td>
                                <td class='border-top-black text-left'>Otto</td>
                                <td class='border-top-black text-left'>kk</td>
                                <td class='border-top-black text-left'>kk</td>
                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
        <h5 class='text-center pt-4'>PAGE 2</h5>
        <div class='container-fluid'>
            
            <h5 class='text-center py-3'>WINNING FORMULA REPORT</h5>
            <div class='container border-purple'>
                
                <h5 class='text-center pt-3'><b>FACTORS</b></h5>

                <div class='px-2'>
                    <table class='table table-sm table-bordered mb-5 mainReportTable'>


                        <thead>
                            <tr>
                                <th class='border-left-black border-top-black text-left border-bottom-black'></th>
                                <th class='border-top-black border-bottom-black text-left font-calibri-size-6'>SUCCESS MODEL</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 1</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 2</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 3</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 4</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 5</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 6</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 7</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 8</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 9</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 10</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 11</th>
                                <th class='border-top-black text-right border-bottom-black font-calibri-size-6'>Month 12</th>
                                <th class='border-top-black border-right-black border-bottom-black text-right'>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-0">Year 1</td>
                                <td class="p-0">SmartOne Protection Plans</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>
                                <td class='text-right p-0'>140</td>

                            </tr>
                        </tbody>

                    </table>
                    <table border="0">
                        <tr style="height:2px;">
                            <td width="10px"><hr style="padding:0px; margin:0px;"></td>
                        </tr>
                        <tr style="height:20px;">
                            <td width="10px">Hello</td>
                        </tr>
                        <tr style="height:2px;">
                            <td width="10px"><hr style="padding:0px; margin:0px;"></td>
                        </tr>
                    </table>
                </div>


                
            </div>
        </div>
    </div>
    
</body>
</html>
