<div class="congrats__block d-none">
    <div class="container">
        <div class="congrats__image">
            <img src="~/img/newImgs/congratsimage.svg" alt="congratsimage">
        </div>
        <div class="congrats__info">
            <h2>
                Congratulations! <br>
                Welcome to ZucoraHome
            </h2>
            <p>Your SmarterPartner Application has been submitted for review!</p>
            <div class="congrats__button edit__Info">
                <a href="#">Edit information</a>
            </div>
        </div>
    </div>
</div>