<div class="information__review d-none">
    <div class="container">
        <div class="head__review">
            <h2>Information Review</h2>
        </div>
        <div class="content__review">
            <div class="elem__review">
                <div class="review__head">
                    <h2>Contact Information</h2>
                    <a href="#" class="contactInfo-editBtn">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                </div>
                <div class="review__content">
                    <div class="regular__information">
                        <div class="regular__head" style="background-color:rgba(163,172,255,.2);">
                            <span style="color:rgba(163, 172, 255, 1);">JB</span>
                        </div>
                        <div class="regular__small">
                            <a href="#" class="contactInfo-editBtn">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                        </div>
                        <div class="regular__columns">
                            <div class="regular__column--element" id="contactInfo-IstHalf">
                            </div>
                            <div class="spacer__column"></div>
                            <div class="regular__column--element" id="contactInfo-2ndHalf">
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="elem__review">
                <div class="review__head">
                    <h2>Business Information</h2>
                    <a href="#" class="businessInfo-editBtn">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                </div>
                <div class="review__content">
                    <div class="regular__information">
                        <div class="regular__head" style="background-color:#DDF5FC;">
                            <span style="color:rgba(163, 172, 255, 1);"><img src="~/img/newImgs/caseicon.svg" alt="caseicon"></span>
                        </div>
                        <div class="regular__small">
                            <a href="#" class="businessInfo-editBtn">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                        </div>
                        <div class="regular__columns">
                            <div class="regular__column--element" id="businessInfo-IstHalf">
                            </div>
                            <div class="spacer__column"></div>
                            <div class="regular__column--element" id="businessInfo-2ndHalf">
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="elem__review">
                <div class="review__head">
                    <h2>Location Information</h2>
                </div>
                <div class="review__content review__location">
                    <div class="regular__information">
                        <div class="location__section">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="review__controls">
            <div class="left__review--controls">
                <div class="terms__block">
                    <div class="form-group">
                        <input type="checkbox" id="partnerInfo">
                        <label for="partnerInfo">I have read and accepted the <a href="#">Terms and Conditions</a></label>
                    </div>
                </div>
                <p>* You will be able to check the box after you read the Terms and Conditions.</p>
            </div>
            <div class="right__review--controls">
                <div class="lds-ring loader2 d-none"><div></div><div></div><div></div><div></div></div>
                <a href="#" class="disabled__controls">SUBMIT</a>
            </div>
        </div>
    </div>
</div>


<div class="modal__block" style="display:none;">
    <div class="modal__box">
        <div class="inner__modal">
            <a href="#" class="close__modal"><img src="~/img/newImgs/closemodal.svg" alt="closemodal"></a>
            <div class="head__info">
                <h2>ZucoraHome Conditions of Use</h2>
                <h6>Last updated: January 1, 2020</h6>
            </div>
            <div class="content__modal">
                <p>
                    Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                    ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                </p>
                <br>
                <br>
                <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                <p>
                    We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                    ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                </p>
                <br>
                <br>
                <h6>Privacy</h6>
                <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                <br>
                <br>
                <h6>Electronic Communications</h6>
                <p>
                    When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                    to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                    communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                    and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                    You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                    electronically satisfy any legal requirement that such communications be in writing.
                </p>
                <br>
                <br>
                <h6>Copyright</h6>
                <p>
                    All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                    icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                    content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                    or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                    Canadian and
                    international copyright laws.
                </p>
                <p>
                    Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                    ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                </p>
                <br>
                <br>
                <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                <p>
                    We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                    ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                </p>
                <br>
                <br>
                <h6>Privacy</h6>
                <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                <br>
                <br>
                <h6>Electronic Communications</h6>
                <p>
                    When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                    to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                    communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                    and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                    You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                    electronically satisfy any legal requirement that such communications be in writing.
                </p>
                <br>
                <br>
                <h6>Copyright</h6>
                <p>
                    All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                    icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                    content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                    or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                    Canadian and
                    international copyright laws.
                </p>
                <p>
                    Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                    ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                </p>
                <br>
                <br>
                <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                <p>
                    We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                    ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                </p>
                <br>
                <br>
                <h6>Privacy</h6>
                <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                <br>
                <br>
                <h6>Electronic Communications</h6>
                <p>
                    When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                    to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                    communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                    and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                    You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                    electronically satisfy any legal requirement that such communications be in writing.
                </p>
                <br>
                <br>
                <h6>Copyright</h6>
                <p>
                    All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                    icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                    content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                    or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                    Canadian and
                    international copyright laws.
                </p>
            </div>
            <div class="accept__content">
                <a href="#" class="disabled__accept">Accept</a>
            </div>
        </div>
    </div>
</div>