
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/onBoarding.css">
</head>
<body>
    <div class="small__hint">
        <div class="container">
            <div class="outer__hint">
                <a href="#">LOGIN</a>
            </div>
        </div>
    </div>
    <div class="float__droppable--content drop__dropdown1">
        <div class="head__droppable--content">
            <a href="#" class="back__head"><img src="~/img/newImgs/arrowbackfloat.svg" alt="arrowbackfloat"></a>
            <p>smarter living plans</p>
            <a href="#" class="close__modal">
                <img src="~/img/newImgs/closeicon.png" alt="close">
            </a>
        </div>
        <div class="content__droppable">
            <div class="float__menu--list">
                <ul>
                    <li><a href="#">furniture plan</a></li>
                    <li><a href="#">appliance plan</a></li>
                    <li><a href="#">home systems plan</a></li>
                </ul>
            </div>

            <div class="bottom__info--content">
                <p>Smarter Living is about making life more convenient.</p>
                <div class="float__image--content">
                    <img src="~/img/newImgs/floatimage.png" alt="floatimage">
                </div>
            </div>
        </div>
    </div>
    <div class="float__menu">

        <div class="float__menu--list">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SERVICE REQUEST</a></li>
                <li class="droppable__float"><a href="#" data-drop="drop__dropdown1">smarter living plans</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="container-fluid">
            <div class="outer__header">
                <div class="header__logo">
                    <a href="#"><img src="~/img/newImgs/headerlogo.png" alt="headerlogo"></a>
                </div>
                <div class="header__menu">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">SERVICE REQUEST</a></li>
                        <li class="dropdown__header">
                            <a href="#">SMARTER LIVING PLANS <span><img src="~/img/newImgs/menuarrow.svg" alt="menuarrow"></span></a>
                            <div class="dropdown__box">
                                <ul>
                                    <li><a href="#">FURNITURE PLAN</a></li>
                                    <li><a href="#">APPLIANCE PLAN</a></li>
                                    <li><a href="#">HOME SYSTEMS PLAN</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header__small">
                    <div class="profile__header">
                        <a href="#">
                            <img src="~/img/newImgs/profileicon.svg" alt="profile">
                        </a>
                    </div>
                    <div class="menu__button">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="hero__block" style="background:url('/img/newImgs/heroback.png')"></div>
    <div class="information__review">
        <div class="container">
            <div class="head__review">
                <h2>Information Review</h2>
            </div>
            <div class="content__review">
                <div class="elem__review">
                    <div class="review__head">
                        <h2>Contact Information</h2>
                        <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                    </div>
                    <div class="review__content">
                        <div class="regular__information">
                            <div class="regular__head" style="background-color:rgba(163,172,255,.2);">
                                <span style="color:rgba(163, 172, 255, 1);">JB</span>
                            </div>
                            <div class="regular__small">
                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                            </div>
                            <div class="regular__columns">
                                <div class="regular__column--element">
                                    <div class="el__column">
                                        <h6>Name</h6>
                                        <p>John Browen</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Email</h6>
                                        <p>john.brown@gmail.com</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Phome number</h6>
                                        <p>+1 647 745 0000</p>
                                    </div>
                                </div>
                                <div class="spacer__column"></div>
                                <div class="regular__column--element">
                                    <div class="el__column">
                                        <h6>Timezone</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span>Toronto, Ontario 11:30 PM (EST)</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Currency</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> CAD</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Language</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> English</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="elem__review">
                    <div class="review__head">
                        <h2>Business Information</h2>
                        <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                    </div>
                    <div class="review__content">
                        <div class="regular__information">
                            <div class="regular__head" style="background-color:#DDF5FC;">
                                <span style="color:rgba(163, 172, 255, 1);"><img src="~/img/newImgs/caseicon.svg" alt="caseicon"></span>
                            </div>
                            <div class="regular__small">
                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                            </div>
                            <div class="regular__columns">
                                <div class="regular__column--element">
                                    <div class="el__column">
                                        <h6>Store Name</h6>
                                        <p>Ashley</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Business Legal Name</h6>
                                        <p>Ashley Furniture Stores</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Products and Services</h6>
                                        <p>Furniture</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Buying group</h6>
                                        <p>Mega</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Business Trade Name</h6>
                                        <p>Ashley Furniture Stores</p>
                                    </div>
                                </div>
                                <div class="spacer__column"></div>
                                <div class="regular__column--element">
                                    <div class="el__column">
                                        <h6>Member ID#</h6>
                                        <p>4567891</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Timezone</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Currency</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> CAD</p>
                                    </div>
                                    <div class="el__column">
                                        <h6>Language</h6>
                                        <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> English</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="elem__review">
                    <div class="review__head">
                        <h2>Location Information</h2>
                    </div>
                    <div class="review__content review__location">
                        <div class="regular__information">
                            <div class="location__section">
                                <div class="elem__location">
                                    <div class="location__head">
                                        <span style="background-color:#E2F5EA;"><img src="~/img/newImgs/geoicon.svg" alt="geoicon"></span>
                                    </div>
                                    <div class="location__content opened__location">
                                        <div class="location__controls">
                                            <a href="#">
                                                <div class="controls__round">
                                                    <span class="round__minus"></span>
                                                    <span class="round__plus"></span>
                                                </div>
                                                <p>Location <span>(Downtown)</span></p>
                                            </a>
                                            <div class="edit__controls">
                                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                                            </div>
                                        </div>
                                        <div class="location__details">
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Email</h6>
                                                    <p>Ashly2@gmail.com</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Address</h6>
                                                    <p>118 Queen Street</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Toronto</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Ontario</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Country</h6>
                                                    <p>Canada</p>
                                                </div>
                                            </div>
                                            <div class="spacer__column"></div>
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Postal</h6>
                                                    <p>AM5A 3E8</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Phone number</h6>
                                                    <p>+1 647 745 0000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Primary Contact Name</h6>
                                                    <p>Barb Smith</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Annual Sales Volume</h6>
                                                    <p>$5.000.000 - $7.500.000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Timezone</h6>
                                                    <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="elem__location">
                                    <div class="location__head">
                                        <span style="background-color:#E2F5EA;"><img src="~/img/newImgs/geoicon.svg" alt="geoicon"></span>
                                    </div>
                                    <div class="location__content">
                                        <div class="location__controls">
                                            <a href="#">
                                                <div class="controls__round">
                                                    <span class="round__minus"></span>
                                                    <span class="round__plus"></span>
                                                </div>
                                                <p>Location <span>(Downtown)</span></p>
                                            </a>
                                            <div class="edit__controls">
                                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                                            </div>
                                        </div>
                                        <div class="location__details" style="display:none;">
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Email</h6>
                                                    <p>Ashly2@gmail.com</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Address</h6>
                                                    <p>118 Queen Street</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Toronto</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Ontario</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Country</h6>
                                                    <p>Canada</p>
                                                </div>
                                            </div>
                                            <div class="spacer__column"></div>
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Postal</h6>
                                                    <p>AM5A 3E8</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Phone number</h6>
                                                    <p>+1 647 745 0000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Primary Contact Name</h6>
                                                    <p>Barb Smith</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Annual Sales Volume</h6>
                                                    <p>$5.000.000 - $7.500.000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Timezone</h6>
                                                    <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="elem__location">
                                    <div class="location__head">
                                        <span style="background-color:#E2F5EA;"><img src="~/img/newImgs/geoicon.svg" alt="geoicon"></span>
                                    </div>
                                    <div class="location__content">
                                        <div class="location__controls">
                                            <a href="#">
                                                <div class="controls__round">
                                                    <span class="round__minus"></span>
                                                    <span class="round__plus"></span>
                                                </div>
                                                <p>Location <span>(Downtown)</span></p>
                                            </a>
                                            <div class="edit__controls">
                                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                                            </div>
                                        </div>
                                        <div class="location__details" style="display:none;">
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Email</h6>
                                                    <p>Ashly2@gmail.com</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Address</h6>
                                                    <p>118 Queen Street</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Toronto</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Ontario</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Country</h6>
                                                    <p>Canada</p>
                                                </div>
                                            </div>
                                            <div class="spacer__column"></div>
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Postal</h6>
                                                    <p>AM5A 3E8</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Phone number</h6>
                                                    <p>+1 647 745 0000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Primary Contact Name</h6>
                                                    <p>Barb Smith</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Annual Sales Volume</h6>
                                                    <p>$5.000.000 - $7.500.000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Timezone</h6>
                                                    <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="elem__location">
                                    <div class="location__head">
                                        <span style="background-color:#E2F5EA;"><img src="~/img/newImgs/geoicon.svg" alt="geoicon"></span>
                                    </div>
                                    <div class="location__content">
                                        <div class="location__controls">
                                            <a href="#">
                                                <div class="controls__round">
                                                    <span class="round__minus"></span>
                                                    <span class="round__plus"></span>
                                                </div>
                                                <p>Location <span>(Downtown)</span></p>
                                            </a>
                                            <div class="edit__controls">
                                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                                            </div>
                                        </div>
                                        <div class="location__details" style="display:none;">
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Email</h6>
                                                    <p>Ashly2@gmail.com</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Address</h6>
                                                    <p>118 Queen Street</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Toronto</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Ontario</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Country</h6>
                                                    <p>Canada</p>
                                                </div>
                                            </div>
                                            <div class="spacer__column"></div>
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Postal</h6>
                                                    <p>AM5A 3E8</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Phone number</h6>
                                                    <p>+1 647 745 0000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Primary Contact Name</h6>
                                                    <p>Barb Smith</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Annual Sales Volume</h6>
                                                    <p>$5.000.000 - $7.500.000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Timezone</h6>
                                                    <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="elem__location">
                                    <div class="location__head">
                                        <span style="background-color:#E2F5EA;"><img src="~/img/newImgs/geoicon.svg" alt="geoicon"></span>
                                    </div>
                                    <div class="location__content">
                                        <div class="location__controls">
                                            <a href="#">
                                                <div class="controls__round">
                                                    <span class="round__minus"></span>
                                                    <span class="round__plus"></span>
                                                </div>
                                                <p>Location <span>(Downtown)</span></p>
                                            </a>
                                            <div class="edit__controls">
                                                <a href="#">EDIT <span><img src="~/img/newImgs/editicon.svg" alt="editicon"></span></a>
                                            </div>
                                        </div>
                                        <div class="location__details" style="display:none;">
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Email</h6>
                                                    <p>Ashly2@gmail.com</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Address</h6>
                                                    <p>118 Queen Street</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Toronto</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>City</h6>
                                                    <p>Ontario</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Country</h6>
                                                    <p>Canada</p>
                                                </div>
                                            </div>
                                            <div class="spacer__column"></div>
                                            <div class="regular__column--element">
                                                <div class="el__column">
                                                    <h6>Postal</h6>
                                                    <p>AM5A 3E8</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Phone number</h6>
                                                    <p>+1 647 745 0000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Primary Contact Name</h6>
                                                    <p>Barb Smith</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Annual Sales Volume</h6>
                                                    <p>$5.000.000 - $7.500.000</p>
                                                </div>
                                                <div class="el__column">
                                                    <h6>Timezone</h6>
                                                    <p><span><img src="~/img/newImgs/langicon.svg" alt="langicon"></span> Toronto, Ontario 11:30 PM (EST)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="review__controls">
                <div class="left__review--controls">
                    <div class="terms__block">
                        <div class="form-group">
                            <input type="checkbox" id="partner">
                            <label for="partner">I have read and accepted the <a href="#">Terms and Conditions</a></label>
                        </div>
                    </div>
                    <p>* You will be able to check the box after you read the Terms and Conditions.</p>
                </div>
                <div class="right__review--controls">
                    <a href="#" class="disabled__controls">SUBMIT</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal__block" style="display:none;">
        <div class="modal__box">
            <div class="inner__modal">
                <a href="#" class="close__modal"><img src="~/img/newImgs/closemodal.svg" alt="closemodal"></a>
                <div class="head__info">
                    <h2>ZucoraHome Conditions of Use</h2>
                    <h6>Last updated: January 1, 2020</h6>
                </div>
                <div class="content__modal">
                    <p>
                        Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                        ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                    </p>
                    <br>
                    <br>
                    <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                    <p>
                        We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                        ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                    </p>
                    <br>
                    <br>
                    <h6>Privacy</h6>
                    <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                    <br>
                    <br>
                    <h6>Electronic Communications</h6>
                    <p>
                        When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                        to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                        communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                        and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                        You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                        electronically satisfy any legal requirement that such communications be in writing.
                    </p>
                    <br>
                    <br>
                    <h6>Copyright</h6>
                    <p>
                        All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                        icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                        content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                        or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                        Canadian and
                        international copyright laws.
                    </p>
                    <p>
                        Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                        ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                    </p>
                    <br>
                    <br>
                    <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                    <p>
                        We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                        ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                    </p>
                    <br>
                    <br>
                    <h6>Privacy</h6>
                    <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                    <br>
                    <br>
                    <h6>Electronic Communications</h6>
                    <p>
                        When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                        to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                        communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                        and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                        You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                        electronically satisfy any legal requirement that such communications be in writing.
                    </p>
                    <br>
                    <br>
                    <h6>Copyright</h6>
                    <p>
                        All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                        icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                        content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                        or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                        Canadian and
                        international copyright laws.
                    </p>
                    <p>
                        Welcome to www.ZucoraHome.com (the ZucoraHome.com site) . Zucora Inc., and/or its affiliates("Zucora" or ZucoraHome.com ) provide website features  and other products and services to you when you visit or shop at the
                        ZucoraHome.com site, use ZucoraHome.com products or services, use ZucoraHome.com applications for mobile, or use software provided by ZucoraHome.com in connection with any of the foregoing (collectively, ZucoraHome.com Services ). ZucoraHome.com provides the ZucoraHome.com Services subject to the following conditions
                    </p>
                    <br>
                    <br>
                    <h6>By using ZucoraHome.com Services, you agree to these conditions. Please read them carefully.</h6>
                    <p>
                        We offer a wide range of ZucoraHome.com Services, and sometimes additional terms may apply. When you use an
                        ZucoraHome.com Service, you also will be subject to the guidelines, terms and agreements applicable to thatZucoraHome.com Service (11Service Terms 11 If these Conditions of Use are inconsistent with the Service Terms, those). Service Term s will prevail.
                    </p>
                    <br>
                    <br>
                    <h6>Privacy</h6>
                    <p>	Please review our Privacy Notice, which also governs your use of the ZucoraHome.com Services, to understand our practices.</p>
                    <br>
                    <br>
                    <h6>Electronic Communications</h6>
                    <p>
                        When you use any ZucoraHome.com Service, or send e-mails, text messages, and other communications from any device
                        to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will
                        communicate with you electronically in a variety of ways, such as by e-mail, text, in-app push notices, or by posting notices
                        and messages on the ZucoraHome.com site or through other ZucoraHome.com Services, such as our Message Centre.
                        You agree that all agreements, notices, messages, disclosures, and other communications that we provide to you
                        electronically satisfy any legal requirement that such communications be in writing.
                    </p>
                    <br>
                    <br>
                    <h6>Copyright</h6>
                    <p>
                        All content included in or made available through any ZucoraHome.com Service, such as text, graphics, logos, button
                        icons, images, audio clips, digital downloads, data compilations, and software, is the property of ZucoraHome.com or its
                        content suppliers, and is protected by Canadian and international copyright laws. The compilation of all content included in
                        or made available through any ZucoraHome.com Service is the exclusive property of ZucoraHome.com and protected by
                        Canadian and
                        international copyright laws.
                    </p>
                </div>
                <div class="accept__content">
                    <a href="#" class="disabled__accept">Accept</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/onBoarding.js"></script>
</body>
</html>